<!-- this file is only used to edit the template -->

<div class="four wide column center aligned votes">
    <div class="ui statistic">
        <div class="value">{{votes}}</div>
        <div class="label">Points</div>
    </div>
</div>
<div class="twelve wide column">
    <a href="{{link}}" class="ui large header"></a>
    <div class="meta">({{article.domain()}})</div>
    <ul class="ui big horizontal list voters">
        <li class="item">
            <a (click)="voteUp()">
                <i class="arrow up icon"></i> upvote
            </a>
        </li>
        <li class="item">
            <a (click)="voteDown()">
                <i class="arrow down icon"></i> downvote
            </a>
        </li>
    </ul>
</div>